header, main, footer {
    padding-left: 300px;
}

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

table tr th{
    text-align: center;
}

table tr td{
    text-align: center;
}

.material-icons .edit{
    color: #212121;
}

.material-icons .delete{
    color: #b71c1c;
}